@media (min-width: 768px) {
  .header {
    li {
      float: left;
      a {
        padding: 20px 30px;
      }
    }

    .menu {
      clear: none;
      float: right;
      max-height: none;
    }

    .menu-icon {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .recipe-time .list-time {
    padding-left: 0;

    li {
      padding-top: 0;
      font-size: 13px;
    }
  }

  .list-img-recipe {
    margin-bottom: 16px;
    width: 46%;

    img {
      height: 138px;
    }
  }

  .list-intro ul li,
  .list-ingred ul li {
    font-size: 15px;
  }

  .list-img-recipe p {
    font-size: 9px;
  }
}
@media (max-width: 767px){
  .header {
    display: flex;
    flex-wrap: wrap;

    .menu-icon {
      margin-left: auto;
    }

    .menu {
      width: 100%;
    }
  }
  .home {
    width: 767px;
  }
}
@media (width: 425px){
  .home {
    width: 476px;
    height: 317px;
    .image {
      .img-intro {
        width: 121px;
        height: 121px;
        border: 4px solid #fff;
        margin-left: 109px;
        box-shadow: 3px 1px #d2cbcb;
      }
      .content-img {
        font-size: 10px;
      }
    }
  }
  .recipe {
    width: 476px;
    .left {
      .intro-recipe {
        .img-recipe {
          width: 191px;
          height: 191px;
        }
      }
      .recipe-time {
        .list-time li {
          width: 29%;
          height: 5px;
          font-size: 9px;
          padding-top: 10px;
        }
      }
    }
  }
  .list-recipe {
    width: 435px;
    .list-img-recipe img {
      height: 182px;
    }
  }
  .contact{
    width: 435px;
    .contact_form {
      margin-left: 24%;
    }
  }
  .foot {
    width: 476px;
  }
}
@media (width: 320px){
  .home {
    width: 845px;
  }
  .recipe {
    width: 892px;
    .right{
      width: 40%;
    }
  }
  .list-recipe {
    width: 813px;
    margin-top: 45px;
    .list-img-recipe {
      width: 100%;
      img {
        height: 341px;
      }
    }
  }
  .contact {
    width: 813px;
  }
  .foot {
    width: 846px;
  }
}
@media (max-width: 414px){
  .header{
    width: 415px;
    height: 58px;
  }
  .home {
    width: 414px;
    height: 285px;
    .image{
      margin: 20px 79px;
      .img-intro {
        width: 108px;
        height: 100px;
        border: 3px solid #fff;
        box-shadow: 1px 1px #d2cbcb;
      }
      .content-img {
        width: 242px;
        font-size: 10px;
      }
    }
  }
  .recipe {
    .left {
      .intro-recipe {
        .img-recipe {     
          width: 111px;
          height: 111px;
          padding-top: 10px;
        }
        .recipe-time {
          .list-time li {
            width: 58px;
            font-size: 9px;
            padding-left: 5px;
            height: 14px;
            padding-top: 14px;
          }
        }
      }
      .ingredient{
        .list-ingred ul li{
          font-size: 12px;
          line-height: 29px;
        }
      }
    }
    .right{
      .list-intro ul li {
        font-size: 12px;
        line-height: 30px;
      }
    }
  }
  .contact{
    .contact_form {
      margin-left: 22%;
      .input_form {
        height: 18px;
        font-size: 13px;
      }
    }
  }
}